@model Clinique2000_Models.ViewModels.CliniqueFileDAttenteVM

@{
    ViewData["Title"] = "Details";
}

<h1>Détails de la clinique</h1>

<div>
    <hr />
    <a type="button" class="mb-3 btn btn-outline-success" asp-area="Patient" asp-controller="PlageHoraires" asp-action="Index" asp-route-CliniqueId="@Model.cliniqueCourante.Id">Prendre un rendez-vous</a>
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.cliniqueCourante.Nom)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.cliniqueCourante.Nom)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.cliniqueCourante.Adresse)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.cliniqueCourante.Adresse)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.cliniqueCourante.Telephone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.cliniqueCourante.Telephone)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.cliniqueCourante.Courriel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.cliniqueCourante.Courriel)
        </dd>
        <dt class="col-sm-3">
            Heures d'ouverture
        </dt>
        @if (Model.cliniqueCourante.HeureOuverture != null && Model.cliniqueCourante.HeureFermeture != null)
        {
            <dd class="col-sm-9">
                @Html.DisplayFor(modelItem => Model.cliniqueCourante.HeureOuverture) à @Html.DisplayFor(modelItem => Model.cliniqueCourante.HeureFermeture)
            </dd>
        }

        else
        {
            <dd class="col-sm-9">
                Aucune heures d'ouvertures définies
            </dd>
        }
</div>
<div>
    @*@await Html.PartialAsync("_PartialPrendreRDV", Model)*@
</div>
<div>
    <a type="button" class="btn btn-outline-secondary" href="javascript:history.back()">Retour</a>
</div>
