@model Clinique2000_Models.ViewModels.ConfirmationRDVVM

@{
    ViewData["Title"] = "RDVFixe";
}

<div class="text-center">
    <h1>Vous ne pouvez pas prendre un rendez-vous car vous en avez déjà un</h1>
    <hr />

    <div class="text-center">
        <p>Cher(e) <strong>@Model.NomPatient</strong></p>
        <p>Nous vous informons que votre rendez-vous médical a été assigné avec succès.</p>
        <p><strong>Date du Rendez-vous : @Model.DateRendezVous.ToString("dddd d MMMM yyyy")</p></strong>

        <p><strong>Heure du Rendez-vous : @Model.HeureRendezVous</p></strong>
        <p><strong>Lieu : @Model.NomClinique</p></strong>
        <p><strong>Adresse : @Model.AdresseClinique</p></strong>
        <p><strong>Téléphone : @Model.TelephoneClinique</p></strong>

        <p>Merci de votre confiance !</p>

        <div>
            <a type="button" class="btn btn-outline-secondary" asp-area="Utilisateur" asp-controller="Home" asp-action="Index">Retour</a>
        </div>
    </div>
</div>