@model Clinique2000_Models.Models.Clinique

@{
    ViewData["Title"] = "Gestion";
}

<h1>Gestion</h1>

<h2>@Model.Nom</h2>

<div class="d-flex justify-content-between">
    <h4>Durée moyenne d'une consultation : @Html.DisplayFor(model => model.DureeParConsultation) minutes</h4>
    <a type="button" class="btn btn-outline-success" asp-controller="FileDAttentes" asp-action="Create">Créer une file d'attente</a>
</div>

@if (Model.FilesDAttente.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FilesDAttente[0].DateHeureOuverture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilesDAttente[0].NombreMedecins)
                </th>
                <th>
                    Statut
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FilesDAttente)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateHeureOuverture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreMedecins)
                    </td>
                    <td>
                        @if(item.DateHeureOuverture <= DateTime.Now && item.DateHeureFermeture >= DateTime.Now)
                        {
                            <p class="text-success">Ouvert</p>
                        }

                        else
                        {
                            <p class="text-danger">Fermé</p>
                        }
                    </td>
                    <td>
                        <a type="button" class="btn btn-outline-warning" asp-controller="FileDAttentes" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger">
        @ViewBag.Message
    </div>
}

<div class="pt-2">
    <a type="button" class="btn btn-outline-secondary" href="javascript:history.back()">Retour</a>
</div>

